<nav class="menu">
    <div class="example-button-row">
      <button mat-stroked-button>Home</button>
      <button mat-stroked-button color="primary">Contato</button>
      <button mat-stroked-button color="accent">Sobre</button>
    </div>
</nav>
<div class="banner">
    <img src="../../../assets/game-console-g65709ed0e_1920.jpg" width="100%" height="300px">
</div>
<div class="container">
    <div class="row" style="margin-top: 20px;">
    <div class="col-sm-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iste dolorem quae nobis tempore culpa ut vitae aut error pariatur, veritatis sed et velit ipsam voluptatem? Corporis mollitia numquam minima!</p>
</div>
<div class="col-sm-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iste dolorem quae nobis tempore culpa ut vitae aut error pariatur, veritatis sed et velit ipsam voluptatem? Corporis mollitia numquam minima!</p>
</div>
<div class="col-sm-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iste dolorem quae nobis tempore culpa ut vitae aut error pariatur, veritatis sed et velit ipsam voluptatem? Corporis mollitia numquam minima!</p>
</div>
</div>
</div>
<div class="container">
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-6" style="margin-top: 50px;">
    <p>Contato</p>
    <p>Alameda Wagih Salles Nemer, 124 - Centro, Barueri - SP, 06401-134</p>
    </div>
    <div class="col-sm-6">
        <img src="../../../assets/mapa.jpg" width="200px" height="200px">
        </div>
        </div>
</div>
<footer>
    <p>Rodapé</p>
</footer>

